{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <link rel="stylesheet" href="../static/css/index.css">

    <h1>{% block title %} Welcome to Social Ketchup {% endblock %}</h1>
    <p>A real-time socializing web app which allows .edu verified
students to connect with each other, outside their social circles, randomly.</p>
    <h4>Login/Register to start chatting!</h4>

    <div class="index-forms">
        <div class="row" style="justify-content: space-evenly; margin-top: 50px">
            <div class="card">
                <div class="card-container">
                    {% with form=LoginForm %}
                        {{ wtf.quick_form(form) }}
                    {% endwith %}
                </div>
            </div>
            <div class="card">
                <div class="card-container">
                    {% with form=RegistrationForm %}
                        {{ wtf.quick_form(form) }}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        const flipCardContainer = document.querySelector(".flip-card-container");#}
{#        flipCardContainer.addEventListener("click", function() {#}
{#           flipCardContainer.classList.toggle("flip");#}
{#        });#}
{#    </script>#}

{% endblock %}